/target
/.worktrees
/debian/files
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/tmp
/debian/scanbus
/debian/scanbus-backend
/debian/scanbus-frontend
/debian/*.debhelper.log
/debian/*.debhelper
/debian/*.substvars
